{% extends 'base.html.twig' %}

{% block body %}
    <div class="container d-flex flex-column align-items-center mt-5">
        <h1 class="mb-4">Login</h1>

        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form action="{{ path('app_login') }}" method="post" class="w-50 text-center">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="mb-3">
                <label for="username" class="form-label">Email:</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control text-center">
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password:</label>
                <input type="password" id="password" name="_password" class="form-control text-center">
            </div>

            <button type="submit" class="btn btn-primary w-100">Login</button>
        </form>

        <a href="{{ path('app_register') }}" class="btn btn-link mt-3">Sign up</a>
    </div>
{% endblock %}